

nav
	a(href='/', title='HomePage') Home |

	a(href='/ziks/add', title='All zik by Author')  New zik |

	a(href='/ziks/by/author', title='All zik by Author')  Zik by Authors |

	a(href='/ziks/by/genre', title='All zik by Genre')  Zik by Genre |

	a(href='/ziks/by/title', title='All zik by Title')  Zik by Title |

	a#area(href='/login', title='All zik by Title')  User Area

header
	h1 #{header}