
head
	meta(charset='utf-8')
	title #{title} - NodeZikApp
	meta(name='description', content='Zik App with Node.js')
	meta(name='author', content='A. Kad')

	// HTML5 shim, for IE6-8 support of HTML elements
	//if lt IE 9
	script(src='https://html5shim.googlecode.com/svn/trunk/html5.js')
	// styles
	link(href='/css/style.css', rel='stylesheet')
	style
		| html {
		|	background-color: #D9D9D9;
		| }