
//extends ../layout.jade


block content
	p
		| * - I need at least a title for the zik.
	form(action='api/ziks/', method='POST')
		.field
			label.field-label(for='title') Title
			input#title.field-input(type='text', name='title', required='', autofocus='')
		.field
			label.field-label(for='author') Author
			input#author.field-input(type='text', name='author', required='')
		.field
			label.field-label(for='genre') Genre
			input#genre.field-input(type='text', name='genre')
		br
		br
		button#add.btn(type='submit') Add