
//extends ../layout.jade

block content
	p
		h3
			if msg
				| #{msg}
			else
				p
					| Listing  zik
	if ziks
		each zik in ziks
			ul.ziks
				li.zik
					a.act(href='/ziks/update/'+zik.title, title='Update '+zik.title,act='update')= zik.title
					|&nbsp;by&nbsp;
					a.act(href='/ziks/list/author/'+zik.author, title='List all zik of '+ zik.author,act='list',descr="authors")=  zik.author
				li.zik Genre : #{zik.genre}
				li.zik
					a.act(href='/ziks/update/'+zik.title, title='Update '+zik.title,act='update')  Update the details 
					| - 
					a.act.zik(href='/ziks/delete/'+zik.title, title='Delete '+zik.title,act='delete')  Delete this shit
		br