
//extends ../layout.jade

block content
	p
		h3
			if msg
				| #{msg}
			else
				p
					| Listing  zik

	if list
		ul
			each item in list
				- var txt = item[type]
				li
					a.list(href='/ziks/list/'+type+'/'+item[type], title='List all zik of '+txt,act='list',descr=type)= item[type]
				hr
