
//extends ../layout.jade

block content
	p
		h3
			if msg
				| #{msg}
				| sort by 
				a.list(href='/ziks/by/'+type+'/asc', title='Listing in ascending ',act='list') Ascending
				|&nbsp;-&nbsp;
				a.list(href='/ziks/by/'+type+'/desc',title='Listing in descending ',act='list') Descending
			else
				p
					| Listing  zik


	if list
		ul
			each item in list
				- var txt = item[type]
				li
					a.list(href='/ziks/list/'+type+'/'+item, title='List all zik of '+txt,act='list',descr=type)= item
				hr
